body{
    padding: 0px;
    margin: 0px;
    /* font-family: 'Kenia', cursive; destul de mehh, prea funny */
    /* font-family: 'Nerko One', cursive; si asta e cam funny */
    font-family: 'Monaco', cursive;
    /* scroll-behavior: smooth;
    scroll-snap-type: y mandatory;
    overflow: auto; */
    background-color: wheat;
}
/* intersection observer */
.hidden {
    opacity: 0;
    transition: all 2s;
}
.show {
opacity: 1;
}
/* body */
.scroll{
    height: 100vh;
    width: 100%;
    scroll-snap-type: y mandatory;
    /* overflow: scroll; */
}
/* .one, .three, .five, .seven, .nine{
    background-color: rgb(161, 57, 142);
    color: white;
} */
.one{
    background-color: wheat;
    display: flex;
    justify-content: center;
    align-items: center;
    color: darkolivegreen;
    font-size: 200px;
    font-family: 'Lobster', cursive;
}
.one .header{
    z-index: 1000;
    position: absolute;
    overflow: hidden;
}
.section {
    height: 100vh;
    width: 100%;
    scroll-snap-align: start;
}
/* PROBLEM SLIDE */
.problem {
    background-color: darkolivegreen;
    color: wheat;
    display: inline-flex;
    align-items:center;
    justify-content:center;
    width: 100%;
    height: 100vh;   
    text-align: center;
    font-size: 20px;
    font-family: 'Monaco',cursive;
    
}

.problem .hidden{
    transition: all 8s;
}
.header{
    font-size: 70px;
}
.main{
    font-size: 70px;
}
/* .header .hidden, .main .hidden {
    transition: all 8s;
} */
/* SOLUTION SLIDE */

.three{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    background-color: wheat;
}
.seeds{
    text-align: center;
    font-size: 40px;
    color: rgb(225, 174, 78);
    padding-right: 200px;
    /* display: flex;
    justify-content: center;
    align-items: center; */
    font-family: 'Monaco', cursive;

}
.image {
    height: 100vh;
    width: 50%;
    background-color: darkolivegreen;
    display: flex;
    justify-content: center;
    align-content: center;
}
.three .image .hidden {
    transition: all 3s;
}
.bio, .special {
    color: green;
}
.bio .hidden, .special .hidden{
    transition: all 3s;
}
.three img .hidden {
    transition: all 5s;
}

/* PERMANENT FLAVOUR SLIDE */
/* js animation going on here, do not ditrub here! */
.side{
    height: 100vh;
    width: 100%;

    display: grid;
    place-items: center;
    /* background: black; */

    overflow: hidden;
    position: absolute;
    
}
.side .title {
    color:white;
    font-family: 'Lobster Two', cursive;

    margin: 0px 13vw;
    width: 80vw;
}

#left-side{
    background-color: darkolivegreen;
    z-index: 2;
}
#right-side{
    background-color: wheat;
}

.container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
}

#left-side .fancy{
    /* font-family: 'Lobster Two', cursive; */
    color: wheat;
    font-size: larger;
}

#right-side .fancy{
    /* font-family: 'Lobster Two', cursive; */
    color:darkolivegreen;
    font-size: larger;
}
/* seasonal flavours */

.five{
    display: flex;
    justify-content: center;
    align-items: center;
    background: wheat;
    flex-direction: column;
    font-size: 30px;
    color: darkolivegreen;
}
.seasons{
    display: flex;
    display: flex;
    justify-content: center;
    align-items: center;
    background: wheat;
    color: darkolivegreen;
    font-weight: bold;
}
.winter, .spring, .summer, .autumn {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: 'Helvetica',sans-serif;
}
.info {
    opacity: 0;
    /* color:  blue; */
    transition: 0.3s linear;
    text-align: center;
}
/* styling for summer */
.summer .info{
    /* background: linear-gradient(45deg,purple,red); */
    color: white;
    padding: 10px;
    border-radius: 20%;
    transition: 0.3s linear;
    font-weight: 20px;
}
.summer img {
    transition: 0.3s linear;
}

.summer:hover > .info {
    opacity: 1;
}
.summer{
    transition: all 1s;
}
/* .summer:hover {
    background-color: rgb(223, 190, 128);
    border-radius: 10%;
} */

/* .summer:hover > img {
    width: 80%;
} */
/* spring */
.spring .info{
    /* background: rgb(223, 190, 128); */
    padding: 8px;
    border-radius: 10%;
    transition: 0.3s linear;
    color: white;
}
.spring img {
    transition: 0.3s linear;
}

.spring:hover > .info {
    opacity: 1;
}

/* .spring:hover > img {
    width: 80%;
} */
/* autumn */
.autumn .info{
    /* background: rgb(223, 190, 128); */
    color:white;
    padding: 10px;
    border-radius: 10%;
    transition: 0.3s linear;
}
.autumn img {
    transition: 0.3s linear;
}

.autumn:hover > .info {
    opacity: 1;
}

/* .autumn:hover > img {
    width: 80%;
} */

/* winter */
.winter .info{
    /* background: linear-gradient(45deg, blue, lightblue); */
    color:white;
    padding: 10px;
    border-radius: 10%;
    transition: 0.3s linear;
}
.winter img {
    transition: 0.3s linear;
}
.winter:hover > .autumn {
    visibility: hidden;
}

.winter:hover > .info {
    opacity: 1;
}

/* .winter:hover > img {
    width: 80%;
} */

/* first page animations */
.imagem{
    z-index: 1;
}
.imagem img{
    z-index: 2;
}
.one {
    /* visibility:collapse; */
    height: 100vh;
    margin: 0px;
    overflow: hidden;
  }
  
  .imagem {
    z-index: 1;
    width: 40vmin;
    position: absolute;
    transform: translate(-50%, -50%);
  }
  
  .imagem[data-status="inactive"] {
    display: none;
  }
  
  .imagem[data-status="active"] {
    display: block;
  }
  
/* navbar */
.navbar{
    z-index: 1000;
    position: fixed;
    overflow: hidden;
    top: 5%;
    right: 5%;
    /* color: white; */
    /* border: 1px solid rgba(137, 43, 226, 0.38); */
    /* padding: 20px;
    border-radius: 50%;
    background-color: rgba(137, 43, 226, 0.38); */
    display: grid;
    place-items:center;
}
  .navbar .logo{
    top: 5%;
    right: 5%;
    color: white;
    /* border: 1px solid rgba(137, 43, 226, 0.38); */
    padding: 20px;
    border-radius: 50%;
    background-color: rgba(137, 43, 226, 0.38); 
    /* opacity: 1; */
    /* position: absolute;
    overflow: hidden; */
    /* z-index: 1002; */
  }
  .navbar .drop{
    /* opacity: 0; */
    /* z-index: 1001; */
    position: absolute;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: white;
    /* visibility: hidden; */
    opacity: 0;
  }

  .navbar .logo:hover {
    opacity: 0;
  } 
  .navbar .logo:hover > .navbar .drop{
    /* z-index: 1002; */
    visibility: visible;
    opacity: 1;
  }

/* xray effect */


 /* .six {
  font-family: Monaco;
  font-size: 12px;
  color: rgba(0,0,0,.7);
  display: grid;
  place-content: center;
  width: 100%;
  height: 100vh;
} */

/* .six svg {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: block;
  width: 100%;
  height: 100%;
} */

/* .six div,
.six a {
  position: absolute;
  padding: 1em;
} */

/* .six div {
  text-shadow: 0 1px 0 rgba(255,255,255,.5);
}

.six span {
  color: rgba(0,0,0,.4);
}

.six a {
  color: rgba(255,0,0,.5);
} */ 

/* bottles display */

.six{
    max-height: 100vh;
    width: 100%;
    background-color: wheat;
    color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    font-size: 30px;
    color: rgb(66, 83, 37);
}
.row{
    display: flex;
    justify-content: center;
    align-items: center;
}